header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.logo img{
    width: 12rem;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    margin: 10px ;

    /* position: relative; */
    /* left: 1rem; */
    font-size: larger;
}
.nav-links a{
    color: rgba(9, 55, 112, 0.84);

}

.nav-links a:hover{
    color: rgba(227, 37, 81, 0.63);

}

.option-box{
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;

}

.option-box button{
    background-color: transparent;
    border: none;

}
.icn{
    font-size: 30px;
    color: rgba(9, 55, 112, 0.84);
}

.icn:hover{
    color: rgb(96, 14, 33);

}
@media screen and (max-width:768px) {
    header{
        flex-direction: column;
        justify-content: stretch;
    }
    
}