.image-slider{
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    overflow: hidden;

}

.image-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;


}
.carousel{
    display: flex;
    justify-content: center;

}
.collection-image{
    width: 12rem;
    height: 12rem;
    background-color: transparent;
    border: 0.6px solid rgb(101, 98, 98);
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 2px 2px 8px 2px;
}

.collection-image img{
    margin: 5px;
    border-radius: 5px;
    width: 10rem;
    height: 80%;
}


.image-slider button{
    background-color: transparent;
    border: none;
}
@media screen and (max-width:800px) {
    .image-slider{
        height: 50vh;
    }
}