@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  text-align: center;
  font-family: "Outfit", sans-serif;


}

main {
  padding: 20px;
}


h2{
  color:  rgba(9, 55, 112, 0.84);
  font-size: 12px;
}

li{
  list-style: none;
}
li a {
  text-decoration: none;
}


